.poker-loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--poker-space);
}

.poker-loading__dot {
  font-weight: bold;
  opacity: 0;
  animation: linear 0.5s infinite alternate poker-loading;
}
.poker-loading__dot--a {
  animation-delay: 0.25s;
}
.poker-loading__dot--b {
  animation-delay: 0.5s;
}
.poker-loading__dot--c {
  animation-delay: 0.75s;
}

@keyframes poker-loading {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}